**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/terraform.tfvars
**/backend.gcs.hcl
**/*.tfplan
**/tfplan
**/application_default_credentials*.json
**/.vault-password
**/vault-password.txt
terraform/ansible_service_config/group_vars/*/vault.yml
terraform/ansible_service_config/inventories/*/hosts.ini
terraform/ansible_kubespray_k8s/inventory.ini
.env
.env.*
.ansible/
*.retry
*.log
